<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @campaign_product_lead.app %>
</p>

<p>
  <strong>Product identifier:</strong>
  <%= @campaign_product_lead.product_identifier %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @campaign_product_lead.campaign %>
</p>

<p>
  <strong>Job:</strong>
  <%= @campaign_product_lead.job %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @campaign_product_lead.sold %>
</p>

<p>
  <strong>Sale ammount:</strong>
  <%= @campaign_product_lead.sale_ammount %>
</p>

<p>
  <strong>Emaillist:</strong>
  <%= @campaign_product_lead.EmailList %>
</p>

<p>
  <strong>Email:</strong>
  <%= @campaign_product_lead.email %>
</p>

<p>
  <strong>Buydate:</strong>
  <%= @campaign_product_lead.BuyDate %>
</p>

<p>
  <strong>Clickdate:</strong>
  <%= @campaign_product_lead.ClickDate %>
</p>

<%= link_to 'Edit', edit_campaign_product_lead_path(@campaign_product_lead) %> |
<%= link_to 'Back', campaign_product_leads_path %>
