<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_id %>
    <%= f.text_field :time_id %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :email_list_uuid_id %>
    <%= f.text_field :email_list_uuid_id %>
  </div>

  <div class="field">
    <%= f.label :app_uuid_id %>
    <%= f.text_field :app_uuid_id %>
  </div>

  <div class="field">
    <%= f.label :hook_uuid_id %>
    <%= f.text_field :hook_uuid_id %>
  </div>

  <div class="field">
    <%= f.label :user_local_id %>
    <%= f.number_field :user_local_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
