<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Subject</th>
      <th>Content</th>
      <th>Email list uuid</th>
      <th>App uuid</th>
      <th>Hook uuid</th>
      <th>User local</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.time %></td>
        <td><%= job.subject %></td>
        <td><%= job.content %></td>
        <td><%= job.email_list_uuid %></td>
        <td><%= job.app_uuid %></td>
        <td><%= job.hook_uuid %></td>
        <td><%= job.user_local_id %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
