<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @job_audit.job %>
</p>

<p>
  <strong>Time sent:</strong>
  <%= @job_audit.time_sent %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @job_audit.recipient %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @job_audit.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @job_audit.content %>
</p>

<%= link_to 'Edit', edit_job_audit_path(@job_audit) %> |
<%= link_to 'Back', job_audits_path %>
