<p id="notice"><%= notice %></p>

<p>
  <strong>App uuid:</strong>
  <%= @email_list.app_uuid %>
</p>

<p>
  <strong>User local:</strong>
  <%= @email_list.user_local_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @email_list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @email_list.description %>
</p>

<%= link_to 'Edit', edit_email_list_path(@email_list) %> |
<%= link_to 'Back', email_lists_path %>
