<p id="notice"><%= notice %></p>

<h1>Hooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hooks.each do |hook| %>
      <tr>
        <td><%= hook.name %></td>
        <td><%= hook.identifier %></td>
        <td><%= link_to 'Show', hook %></td>
        <td><%= link_to 'Edit', edit_hook_path(hook) %></td>
        <td><%= link_to 'Destroy', hook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hook', new_hook_path %>
