<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hook.name %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @hook.identifier %>
</p>

<%= link_to 'Edit', edit_hook_path(@hook) %> |
<%= link_to 'Back', hooks_path %>
