<p id="notice"><%= notice %></p>

<p>
  <strong>User local:</strong>
  <%= @app.user_local_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @app.api_key %>
</p>

<p>
  <strong>Api secret:</strong>
  <%= @app.api_secret %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
